
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 43, 73);
    padding: 2.8rem;
    color: white;
    font-size: x-large;
    font-weight: bold;
    
    
}

.content{
    display: flex;
  justify-content: center;
}
#textInput{
    width: 50%;
   padding: 3rem;
   margin-top: 3rem;
   
    
}

.btn{
    display: flex;
    justify-content: center;
    
}
#btn-translate{
margin: 2rem 0rem;
padding: 1rem 1.5rem;
border-radius: 1rem;
font-size: large;
border: 1px solid rgb(226, 43, 73);
cursor: pointer;
}
.output-div{
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}
#output {
        border: 1px solid black;
        height: 10vh;
        width: 55%;
        margin: 1rem 1rem 2rem 1rem;
        padding: 1rem;
      
    }

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 43, 73);
    padding: 2.8rem;
    color: white;
    font-size: x-large;
    font-weight: bold;
    
    
}